@charset "utf-8";
/* CSS Document */

/* 속성 제공 순서
overflow
display
float
position
left,right,top,bottom
padding
margin
width
height
background
border
font
etc
*/

/* header */
header { display:block; height:100%; background:#1D1464;}
h1 { padding:100px 0 0 0; box-sizing:border-box; text-align:center;}
h1 a { font-size:30px; color:#fff;}
.listMenu { padding:50px 0 0 0; text-align:center;}
.listMenu li{ display:inline-block; padding:0 10px;}
.listMenu li a { font-size:25px; color:#1D1464;}
.listMenu li a:hover { font-weight:bold;}
.typingMente { margin:100px 0 0 0; text-align:center;}
.mente { font-size:14px; color:#fff; text-shadow:0 0 5px #000;}

/* footer */
footer { padding:40px 0; background:#1D1464; font-size:14px; text-align:center; color:#fff;}
