@charset "utf-8";
/* CSS Document */

/* 속성 제공 순서
overflow
display
float
position
left,right,top,bottom
padding
margin
width
height
background
border
font
etc
*/

/* main */
.profile { margin:0 auto; padding:80px 0 200px 0; height:100%; text-align:center; box-sizing:border-box;}
.profile h2 { padding-bottom:50px; }
.card { position:relative; margin:0 auto; width:700px; height:380px;}
.card > div { position:absolute; left:0; top:0;  transition:all 1s;}
.card:hover .card_mask { transform:rotateY(180deg); opacity:0; }
.card:hover .card_01{ transform:rotateY(0); opacity:1;}
.card .card_mask { width:700px; height:380px; background:url(../images/bg/@visual01.jpg) no-repeat 50% 20%; background-size: 100%; border-radius:10px; opacity:1;}
.card .card_01{ padding:50px; width:700px; height:380px; background:#1D1464; border-radius:10px; text-align:center; box-shadow:#ccc 2px 2px 2px; transform:rotateY(180deg); opacity:0; box-sizing:border-box;}
.card .card_01 .name { display:inline-block; margin:30px 0; width:300px; height:40px; line-height:40px; font-size:40px; color: #fff;}
.card .card_01 > p + p { font-size:20px;}
.card .card_01 > ul { position:absolute; right:50px; bottom:50px;}
.card .card_01 > ul li { font-size:14px; line-height:20px; text-align:right; color: #fff;}

div.bu_box { float: left; width: 30%; height: 100px;}
div.dialog { float: left; width: 70%;}

.opponent::after,
.kke::after { content: ''; display : block; clear : both;}

.kakaotalkConversation { padding: 100px 0; box-sizing: border-box; margin-top: 100px; background: #C0D1DB;}
.kakaotalkConversation > div { margin: 0 auto; width: 900px;}
.kakaotalkConversation > div > div { margin: 50px 0; width: 100%;}
.kakaotalkConversation p { display: inline-block; padding: 10px 20px 10px 20px; box-sizing: border-box; border-radius: 5px; font-size: 17px; line-height:34px;}

.opponent h2 { margin-bottom: 15px;}
.opponent .dialog > div { position: relative;}
.opponent .dialog > div > div:first-child { padding: 0 0 0 95px; box-sizing: border-box;}
.opponent .dialog > div > div + div { position: absolute; left: 0; top: 3px;}
.opponent p { background: #fff;}
.opponent_image { overflow:hidden; width:70px; height:70px; border:1px solid #fff; border-radius: 60px; background: #fff;}
.opponent_image img { width: 100%;}

.kke .dialog > div { text-align: right;}
.kke img.emoticon { margin-bottom: 50px;}
.kke p { background: #FDEC4F; text-align: left;}

/* popup */
.popupMessage { display:block; position:fixed; right:50px; bottom:62px; padding:30px 100px 30px; border:1px solid #ccc; border-radius:5px; box-shadow:0 5px 10px rgba(0,0,0,0.2); background:#fff; z-index:10;  box-sizing:border-box; }
.message { margin-bottom:15px; font-size:17px; color:#999; text-align: center;}
.btn_message { padding: 10px 20px; border-radius:4px; font-size: 15px;}
.btn_message:hover { background: red; font-weight: bold; color: yellow;}
