@charset "utf-8";

@import url("./common/portfolio_reset.css"); /* CSS 초기화 */
@import url("./common/portfolio_style.css"); /* 공통 CSS */

/*
- CSS 속성 제공 순서 -
clear
z-index
overflow
display
float
position
top,right,bottom,left
margin
padding
box-sizing
box-shadow
width
height
line-height
background
border
border-radius
vertical-align
text-align
text-shadow
font-size
font-weight
letter-spacing
white-spacing
word-spacing
color
*/

/* main */
.profile { margin:0 auto; padding:80px 0 200px 0; box-sizing:border-box; height:100%; text-align:center;}
.profile h2 { padding-bottom:50px; box-sizing:border-box;}
.card { position:relative; margin:0 auto; width:700px; height:380px;}
.card > div { position:absolute; left:0; top:0; transition:all 1s;}
.card:hover .card_mask { transform:rotateY(180deg); opacity:0;}
.card:hover .card_01{ transform:rotateY(0); opacity:1;}
.card .card_mask { width:700px; height:380px; background:url(../img/bg/@visual01.jpg) no-repeat 50% 20%; background-size: 100%; border-radius:10px; opacity:1;}
.card .card_01{ padding:50px; box-sizing:border-box; box-shadow:#ccc 2px 2px 2px; width:700px; height:380px; background:#1D1464; border-radius:10px; text-align:center; transform:rotateY(180deg); opacity:0;}
.card .card_01 .name { display:inline-block; margin:30px 0; width:300px; height:40px; line-height:40px; font-size:40px; color:#fff;}
.card .card_01 > p + p { font-size:20px;}
.card .card_01 > ul { position:absolute; right:50px; bottom:50px;}
.card .card_01 > ul li { line-height:20px; text-align:right; font-size:14px; color:#fff;}

div.bu_box { float:left; width:30%; height:100px;}
div.dialog { float:left; width:70%;}

.opponent::after,
.kke::after { content:''; display:block; clear:both;}

.kakaotalk_conversation { margin-top:100px; padding:100px 0; box-sizing:border-box; background:#C0D1DB;}
.kakaotalk_conversation > div { margin:0 auto; width:900px;}
.kakaotalk_conversation > div > div { margin:50px 0; width:100%;}
.kakaotalk_conversation p { display:inline-block; padding:10px 20px 10px 20px; box-sizing:border-box; line-height:34px; border-radius:5px; font-size:17px;}

.opponent h2 { margin-bottom:15px;}
.opponent .dialog > div { position:relative;}
.opponent .dialog > div > div:first-child { padding:0 0 0 95px; box-sizing:border-box;}
.opponent .dialog > div > div + div { position:absolute; left:0; top:3px;}
.opponent p { background:#fff;}
.opponent_image { overflow:hidden; width:70px; height:70px; background:#fff; border:1px solid #fff; border-radius:60px;}
.opponent_image img { width:100%;}

.kke .dialog > div { text-align:right;}
.kke img.emoticon { margin-bottom:50px;}
.kke p { background:#fdec4f; text-align:left;}















main > div { margin:0 auto; width:960px;}
main > div > section { margin:15px 0 100px 0; border:1px solid #d3d6db;}

/* kke_info.html */
.info section > div { height:60px; background:#f5f7f8; border-bottom:1px solid #d3d6db;}
.info section > div h2 { padding:0 0 0 30px; box-sizing:border-box; line-height:60px; font-size:20px;}
.info .tabs { background:#fff;}
.info .tabs > ul { float:left; padding:30px 0 0 0; box-sizing:border-box;  width:25%;}
.info .tabs > ul li a { display:block; margin:0 0 0 3px; padding:0 0 0 20px; box-sizing:border-box; height:40px; line-height:40px; font-size:13px; color:#737373;}
.info .tabs > ul li a:hover { color:#000;}
.info .tabs > ul li.ui-state-active a { margin:0 0 0 0; border-left:3px solid #3b5998; font-weight:bold; color:#000;}
.info .tabs > div { float:left; padding:30px 20px 30px 20px; box-sizing:border-box; width:75%; min-height:380px; border-left:1px solid #d3d6db;}
.info .info_index { width:100%;}
.info .info_index > div:first-child { float:left; width:70%;}
.info .info_index > div:first-child div { padding:20px 0 40px 50px; box-sizing:border-box; border-top:1px solid #d3d6db;}
.info .info_index > div:first-child div p { padding:5px 0 0 0; box-sizing:border-box;}
.info .info_index > div:first-child div p:first-child { padding:0 0 0 0; box-sizing:border-box;}
.info .info_index > div:first-child div:first-child { padding:0 0 40px 50px; box-sizing:border-box; background:url(../img/buico/ico_school.png) no-repeat; border:none;}
.info .info_index > div:first-child div:last-child { background:url(../img/buico/ico_abode.png) no-repeat 0 20px;}
.info .info_index > div + div { float:left; padding:0 0 0 20px; box-sizing:border-box; width:30%;}
.info .info_index > div + div img { padding:0 10px 0 0; box-sizing:border-box;}
.info .info_index > div + div p { display:inline-block; padding:20px 0 0 0; box-sizing:border-box;}
.info .info_index > div + div div:first-child img { padding:0 12px 0 2px; box-sizing:border-box;}
.info .info_index > div + div div:first-child p { padding:0 0 0 0; box-sizing:border-box;}
.info .info_career h3,
.info .info_contact h3,
.info .info_education h3,
.info .info_certificate h3 { padding:0 0 10px 0; box-sizing:border-box; border-bottom:1px solid #d3d6db;}
.info .table01 { margin:20px 0 50px 0; text-align:center;}
.info .table01 thead { background:#f2f6f9;}
.info .table01 thead th { padding:10px 0 10px 0; box-sizing:border-box; border-left:1px solid #d3d6db; font-size:13px; color:#737373;}
.info .table01 thead th:first-child { border:none;}
.info .table01 tbody tr { border-top:1px solid #d3d6db;}
.info .table01 tbody td { padding:10px 10px 10px 10px; box-sizing:border-box; line-height:15px; border-left:1px solid #d3d6db; font-size:12px; color:#000;}
.info .table01 tbody td:first-child { border:none;}
.info .table01 tbody .company { line-height:20px; text-align:left;}
.info .table01 tbody .company span { margin:0 4px 0 0; background:#f0f5f9; border:1px solid #c1d2e6; font-size:11px; color:#95adc5;}
.info .info_contact div.kimkyungeun { padding:20px 0 0 0; box-sizing:border-box;}
.info .info_contact .award { clear:both;}
.info .table02 { margin:0 0 50px 0;}
.info .table02 tbody tr { height:30px; border-top:1px solid #d3d6db; border-bottom:1px solid #d3d6db;}
.info .table02 tbody th { background:#f2f6f9; border-right:1px solid #d3d6db;}
.info .table02 tbody td { padding:0 0 0 10px; box-sizing:border-box;}

/* kke_portfolio.html */
.portfolio section > div { background:#f5f7f8; border-bottom:1px solid #d3d6db;}
.portfolio section > div h2 { padding:0 0 0 30px; box-sizing:border-box; line-height:60px; font-size:20px;}

.portfolio .is-checked:after { content:""; display:block; position:absolute; left:50%; bottom:-12.5px; margin:0 0 0 10px; width:10px; height:10px; background:#fff; border-top:1px solid #d3d6db; border-left:1px solid #d3d6db; transform:rotate(45deg);}
.portfolio .is-checked { font-weight:bold; color:#000;}
.portfolio .portfolio_text:after { content:''; display:block; clear:both;}
.portfolio .portfolio_text { position:relative; padding:20px 30px 20px 30px; box-sizing:border-box; min-height:570px; background:#fff;}
.portfolio .portfolio_text > div { clear:both; padding:0 0 100px 0; box-sizing:border-box;}
.portfolio .portfolio_text h3 { font-size:20px; font-weight:bold;}
.portfolio .portfolio_text h3 + p { padding:10px 0 30px 15px; box-sizing:border-box; width:750px; line-height:20px; font-size:14px; word-break:normal;}

.portfolio .portfolio_list { position:relative; height:50px; line-height:50px; background:#f5f7f8; border-bottom:1px solid #d3d6db;}
.portfolio .portfolio_list { margin:5px 5px 10px 5px; width:210px; height:300px; border:1px solid #d3d6db;}
.portfolio .portfolio_list h4 { bottom:0; padding:20px 0 0 0; box-sizing:border-box; width:100%; height:100px; line-height:20px; background:#f0f5f9; text-align:center; font-size:14px; color:#000;}

.portfolio .portfolio_list > a { position:relative; padding:0 0 10px 30px; box-sizing:border-box; font-size:13px; color:#737373;}
.portfolio .portfolio_list a:hover { color:#000;}
.portfolio .portfolio_list a { position:absolute; top:0; width:100%; height:200px;}
.portfolio .portfolio_list a.posco { background:url(../img/txt/@posco_small.jpg) 50% 50% no-repeat; background-size:130%;}
.portfolio .portfolio_list a.tomntoms { background:url(../img/txt/@tomntoms_small.jpg) 50% 50% no-repeat; background-size:130%;}
.portfolio .portfolio_list a.keb_bank { background:url(../img/txt/@keb_bank_small.jpg) 50% 0 no-repeat; background-size:130%;}
.portfolio .portfolio_list a.kb_bank { background:url(../img/txt/@kb_bank_small.jpg) 50% 0 no-repeat; background-size:130%;}
.portfolio .portfolio_list a.goodchoice { background:url(../img/txt/@goodchoice_small.jpg) 50% 0 no-repeat; background-size:130%;}
.portfolio .portfolio_list a.hanil { background:url(../img/txt/@hanil_small.jpg) 50% 50% no-repeat; background-size:130%;}
.portfolio .portfolio_list a.airwindow { background:url(../img/txt/@airwindow_small.jpg) 50% 50% no-repeat; background-size:130%;}
.portfolio .portfolio_list a.web:hover { background:url(../img/buico/ico_small_web.png) 50% 50% no-repeat #fff;}
.portfolio .portfolio_list a.mobile:hover { background:url(../img/buico/ico_small_mobile.png) 50% 50% no-repeat #fff;}
.portfolio .portfolio_list a.responsive_web:hover { background:url(../img/buico/ico_small_responsive_web.png) 50% 50% no-repeat #fff;}
.portfolio .portfolio_list a.etc:hover { background:url(../img/buico/ico_small_photo.png) 50% 50% no-repeat #fff;}

.portfolio .alert { position:fixed; z-index:23; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.7); text-align:center;}
.portfolio .alert > div { position:relative; margin:100px auto; padding:70px 50px 50px 50px; box-sizing:border-box; width:800px; background:#3b5998;}
.portfolio .alert > div div { padding:20px 10px 20px 10px; box-sizing:border-box; border:1px solid #fff; font-size:12px; color:#fff;}
.portfolio .alert > div p { padding:30px 0 0 0; box-sizing:border-box; font-size:13px; font-weight:bold; color:#fff;}
.portfolio .alert > div a { position:absolute; right:15px; top:15px;}

/* kke_note.html */
.note section > div { background:#f5f7f8; border-bottom:1px solid #d3d6db;}
.note section > div h2 { padding:0 0 0 30px; box-sizing:border-box; line-height:60px; font-size:20px;}
